<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtual_hotel_agent.search"
    android:versionCode="44"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <permission
        android:name="com.virtual_hotel_agent.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.virtual_hotel_agent.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <application
        android:icon="@drawable/hotel72"
        android:label="@string/app_name" android:name="com.virtual_hotel_agent.search.MyApplication">
        <activity
            android:name="com.virtual_hotel_agent.search.controllers.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" > <!-- android:theme="@android:style/Theme.Black"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
   			android:name="com.virtual_hotel_agent.search.controllers.activities.HotelMapActivity"
            android:label="Hotel Area" 
            />
        <activity android:name="com.virtual_hotel_agent.search.controllers.activities.MyPreferences"></activity>
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name="com.virtual_hotel_agent.search.controllers.activities.SelectRoomActivity" android:screenOrientation="portrait"></activity>
        <activity
             android:name="com.virtual_hotel_agent.search.controllers.activities.BugReportDialog"
             android:excludeFromRecents="true"
             android:finishOnTaskLaunch="true"
             android:launchMode="singleInstance"
             android:theme="@android:style/Theme.Dialog" />

        <meta-data
		   android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyDV0nvSYIL7zIQ6CBh_A-s7YMg0dZMhfiM" />  <!-- 			Debug from Ubuntu  -->
		
<!-- 		   Release: -->
<!-- 		   android:value="AIzaSyAy9PYM3qzNSfg9vv-d4C_c1OD6ULAA-Yc"/>  -->
<!-- Debug from Mac -->
<!-- 		     android:value="AIzaSyBPnkaWt4r_z86YQihDfDHH3armRZNTnrs" />    -->
		 
        <meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />
    </application>

</manifest>